include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--plus(type="button")
		input(type="text" value="1")
		+e.btn--minus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin headline(text, all, innertext)
	+b.headline
		+e.title
			+e.plus
			.h4!= text 
				span!= innertext
		if all
			+e.showmore(href="#")
				| весь каталог
				+icon('arrow-right')

mixin card(label)
	+b.card
		//- +e.bottom-card
		//- 	+e.buy
		//- 		a(href="#") Купить в 1 клик
		//- 		p Есть в наличии
		//- 	+e.articul #[span Артикул: ] 23388, 23389
		+e.aside--left
		+e.aside--right
			+e.links
				+e.link(href="#")
					+icon('like')
				+e.link(href="#")
					+icon('diagram')
				+e.link(href="#")
					+icon('cart')
		+e.content
			if label
				+e.label(style="--bg: #6ab40b") -35%
				+e.label--right(style="--bg: #fb4420") NEW
			+e.img-slider--js
				.swiper-wrapper
					-for(i = 0; i < 4; i++)
						+e.slide.swiper-slide
							+e.img-wrap
								.img-wrap-center
									+img('img/wardrobe.png')
				.swiper-pagination
			+e.title Цветной четырехсекционный шкаф для одежды
			+img('img/stars.png').stars
			ul
				mixin li(title, text)
					li
						span!= title
						span.doted
						span!= text
				+li('Высота', '1860мм')
				+li('Ширина', '600мм')
				+li('Глубина', '500мм')
				+li('Цвет', 'Серый')
			+e.price 8 000 руб.
			+e.footer
				+e.btn.btn.btn-secondary Заказать
				+addblock
		+e.bottom-card
				+e.buy
					a(href="#") Купить в 1 клик
					p Есть в наличии
				+e.articul #[span Артикул: ] 23388, 23389