include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--plus(type="button")
		input(type="text" value="1")
		+e.btn--minus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

//- +breadcrumb('Главная',...items)

mixin page-head(t)
	+b.page-title-wrapper
		- let l = items.length
		.container
			if t
				h1= t
			else 
				block

mixin headline(text, all, innertext, plus=true)
	+b.headline
		+e.title
			if plus
				+e.plus
			.h4!= text 
				span!= innertext
		if all
			+e.showmore(href="#")
				| весь каталог
				+icon('arrow-right')

mixin cardList(listTitle, listText)
	li
		span.wrap-left
			span.text!= listTitle
			//- span.doted
		span.wrap-right
			span.text!= listText

mixin card(label, title='Цветной четырехсекционный шкаф для одежды', articul='23388, 23389', ...imgs)
	+b.card
		//- +e.aside--left
		//- +e.aside--right
		+e.links
			+e.link&attributes(attributes)(href="#")
				+icon('like')
			+e.link&attributes(attributes)(href="#")
				+icon('diagram')
			+e.link&attributes(attributes)(href="#")
				+icon('cart')
		+e.content
			if label
				+e.label(style="--bg: #6ab40b") -35%
				+e.label--right(style="--bg: #fb4420") NEW
			a(href="#") 
				+e.img-slider--js
					.swiper-wrapper
						each img in imgs
							+e.slide.swiper-slide
								+e.img-wrap
									.img-wrap-center
										+img(img)
					.swiper-pagination
			+e.title(href='#')!= title 
			+img('img/stars.png').stars
			ul 
				block
			+e.price 8 000 руб.
			+e.footer
				+e.btn.btn.btn-secondary(href="#") Заказать
				+addblock
		+e.bottom-card
				+e.buy
					a(href="#") Купить в 1 клик
					p Есть в наличии
				+e.articul 
					span Артикул: 
					!= articul

mixin advatages()
	+b.advatages
		.container
			+e.row-item.row
				.col-6.col-lg
					+e.item
						+icon('settings')
						p Монтаж и сборка под&nbsp;ключ
				.col-6.col-lg
					+e.item
						+icon('track')
						p Круглосуточная доставка по всей России
				.col-6.col-lg
					+e.item
						+icon('discount')
						p Актуальные цены на сайте
				.col-6.col-lg
					+e.item
						//- +icon('settings')
						+img('img/wallet.png')
						p Возможность отсрочки платежа

mixin oneInRowcard(title, articul, ...imgs)
	+b.card--oneinrow
		+e.row.row
			+e.left-side-col.col
				+e.label--right(style="--bg: #fb4420") NEW
				+e.links
					+e.link(href="#")
						+icon('like')
					+e.link(href="#")
						+icon('diagram')
					+e.link(href="#")
						+icon('cart')
				+e.img-slider--js
					.swiper-wrapper
						each img in imgs
							+e.slide.swiper-slide
								+e.img-wrap
									.img-wrap-center
										+img(img)
					.swiper-pagination
			.col
				+e.title!= title
				+e.inner-row.row
					.col
						+img('img/stars.png').stars
						+e.full-price
							+e.price 33 037 руб.
							+e.old-price 34 000 руб.
						+e.footer
							+e.btn.btn.btn-secondary(href="#") Заказать
							+addblock
						+e.buy
							a(href="#") Купить в 1 клик
							p Есть в наличии
					.col.d-none.d-xl-block
						ul
							block
							//- +li('Высота', '1860мм')
							//- +li('Ширина', '600мм')
							//- +li('Глубина', '500мм')
							//- +li('Цвет', 'Серый')
						+e.articul #[span Артикул: ]<br> 
							!= articul
			.col-12.d-flex.d-xl-none
				+e.footer-wrap 
					ul
						block
						//- +li('Высота', '1860мм')
						//- +li('Ширина', '600мм')
						//- +li('Глубина', '500мм')
						//- +li('Цвет', 'Серый')
					+e.articul #[span Артикул: ]<br> 
						!= articul

mixin scrollTop()
	+b.scrollTop
		+icon('arrow-up')

mixin chooseColor(notDef)
	+b.choose-color
		if notDef
			block
		else
			- for(let i = 0; i < 100; i++)
				+in-c('radio', '', 'color')
					+e.color(style='--bgColor: #D0BF8D;')
				+in-c('radio', '', 'color')
					+e.color(style='--bgColor: #D8B68B;')
				+in-c('radio', '', 'color')
					+e.color(style='--bgColor: #DBB173;')
				+in-c('radio', '', 'color')
					+e.color(style='--bgColor: #D99705;')

mixin upload-field()
	+b.upload-field
		+e.wrap
			+e.input-wrap
				+e.LABEL.btn.btn.btn-light
					input.input-upload(type='file' name='file')
					+img('img/clip.png')
					span Выбрать файл
			+e.file-name 